# part 2 of diabetic datas question

In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
# xgboost
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from collections import Counter
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt

In [18]:
# import encoded dataset
extract = pd.read_csv('diabetes+130-us+hospitals+for+years+1999-2008/encoded.csv')
target = extract['readmitted']
extract = extract.drop('readmitted', axis = 1)
diabet_df = pd.concat([extract, target], axis = 1)
display(diabet_df.head())
display(diabet_df.info())

,encounter_id,patient_nbr,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,rosiglitazone_used,acarbose_used,miglitol_used,troglitazone_used,tolazamide_used,examide_used,citoglipton_used,insulin_used,med_changed,readmitted
0,2278392,8222157,5.0,1,41,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,149190,55629189,15.0,3,59,0,18,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,64410,86047875,25.0,2,11,5,13,2,0,1,...,0,0,0,0,0,0,0,0,0,0
3,500364,82442376,35.0,2,44,1,16,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,16680,42519267,45.0,1,51,0,8,0,0,0,...,0,0,0,0,0,0,0,1,1,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 87 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   encounter_id           101766 non-null  int64
 1   patient_nbr            101766 non-null  int64
 2   age                    101766 non-null  float64
 3   time_in_hospital       101766 non-null  int64
 4   num_lab_procedures     101766 non-null  int64
 5   num_procedures         101766 non-null  int64
 6   num_medications        101766 non-null  int64
 7   number_outpatient      101766 non-null  int64
 8   number_emergency       101766 non-null  int64
 9   number_inpatient       101766 non-null  int64
 10  number_diagnoses       101766 non-null  int64
 11  diabetesMed            101766 non-null  int64
 12  race_AfricanAmerican   101766 non-null  float64
 13  race_Asian             101766 non-null  float64
 14  race_Caucasian         101766 non-null  float64
 15  race_Hispanic          101766 non-null  float64
 16  race_Other             101766 non-null  float64
 17  weight_missing         101766 non-null  int64
 18  weight_num             101766 non-null  float64
 19  gender_Female          101766 non-null  float64
 20  gender_Male            101766 non-null  float64
 21  admission_Elective     101766 non-null  int64
 22  admission_Emergency    101766 non-null  int64
 23  admission_Newborn      101766 non-null  int64
 24  admission_Other        101766 non-null  int64
 25  admission_Trauma       101766 non-null  int64
 26  admission_Urgent       101766 non-null  int64
 27  discharge_Expired      101766 non-null  int64
 28  discharge_Facility     101766 non-null  int64
 29  discharge_Home         101766 non-null  int64
 30  discharge_Hospice      101766 non-null  int64
 31  discharge_Left_AMA     101766 non-null  int64
 32  source_Emergency       101766 non-null  int64
 33  source_Other           101766 non-null  int64
 34  source_Referral        101766 non-null  int64
 35  source_Transfer        101766 non-null  int64
 36  diag1_Circulatory      101766 non-null  int64
 37  diag1_Diabetes         101766 non-null  int64
 38  diag1_Digestive        101766 non-null  int64
 39  diag1_Genitourinary    101766 non-null  int64
 40  diag1_Injury           101766 non-null  int64
 41  diag1_Musculoskeletal  101766 non-null  int64
 42  diag1_Neoplasms        101766 non-null  int64
 43  diag1_Other            101766 non-null  int64
 44  diag1_Respiratory      101766 non-null  int64
 45  diag2_Circulatory      101766 non-null  int64
 46  diag2_Diabetes         101766 non-null  int64
 47  diag2_Digestive        101766 non-null  int64
 48  diag2_Genitourinary    101766 non-null  int64
 49  diag2_Injury           101766 non-null  int64
 50  diag2_Musculoskeletal  101766 non-null  int64
 51  diag2_Neoplasms        101766 non-null  int64
 52  diag2_Other            101766 non-null  int64
 53  diag2_Respiratory      101766 non-null  int64
 54  diag3_Circulatory      101766 non-null  int64
 55  diag3_Diabetes         101766 non-null  int64
 56  diag3_Digestive        101766 non-null  int64
 57  diag3_Genitourinary    101766 non-null  int64
 58  diag3_Injury           101766 non-null  int64
 59  diag3_Musculoskeletal  101766 non-null  int64
 60  diag3_Neoplasms        101766 non-null  int64
 61  diag3_Other            101766 non-null  int64
 62  diag3_Respiratory      101766 non-null  int64
 63  max_glu_measured       101766 non-null  int64
 64  max_glu_high           101766 non-null  int64
 65  a1c_measured           101766 non-null  int64
 66  a1c_high               101766 non-null  int64
 67  metformin_used         101766 non-null  int64
 68  repaglinide_used       101766 non-null  int64
 69  nateglinide_used       101766 non-null  int64
 70  chlorpropamide_used    101766 non-null  int64
 71  glimepiride_used       101766 non-null  int64
 72  glyburide_used         101766 non-null  int64
 73  acetohexamide_used     101766 non-null  int64
 74  glipizide_used         101766 non-null  int64
 75  tolbutamide_used       101766 non-null  int64
 76  pioglitazone_used      101766 non-null  int64
 77  rosiglitazone_used     101766 non-null  int64
 78  acarbose_used          101766 non-null  int64
 79  miglitol_used          101766 non-null  int64
 80  troglitazone_used      101766 non-null  int64
 81  tolazamide_used        101766 non-null  int64
 82  examide_used           101766 non-null  int64
 83  citoglipton_used       101766 non-null  int64
 84  insulin_used           101766 non-null  int64
 85  med_changed            101766 non-null  int64
 86  readmitted             101766 non-null  int64
dtypes: float64(9), int64(78)
memory usage: 67.5 MB

None

In [19]:
Xtrain, Xtest, ytrain, ytest = train_test_split(diabet_df.drop('readmitted', axis = 1), diabet_df['readmitted'], test_size = 0.3, random_state = 42)
Xtrain

,encounter_id,patient_nbr,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,pioglitazone_used,rosiglitazone_used,acarbose_used,miglitol_used,troglitazone_used,tolazamide_used,examide_used,citoglipton_used,insulin_used,med_changed
15992,60560244,99553419,85.0,10,45,0,14,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10606,44802312,1156392,65.0,4,39,0,11,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64779,180278112,109279710,85.0,1,37,2,7,0,0,0,...,0,0,0,0,0,0,0,0,0,0
83257,260452620,41843502,65.0,8,45,0,24,0,1,4,...,0,0,0,0,0,0,0,0,1,1
4204,24202548,18003051,65.0,12,51,0,12,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,31296060,3344202,75.0,2,35,0,12,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54886,159139902,93611655,65.0,5,63,2,23,0,0,0,...,0,0,0,0,0,0,0,0,1,1
76820,232191828,85600899,75.0,3,55,1,33,0,0,0,...,0,0,0,0,0,0,0,0,1,1
860,6740700,8208234,65.0,12,77,2,21,0,0,0,...,0,0,0,0,0,0,0,0,1,1
15795,60115668,77943780,45.0,1,2,5,17,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [20]:
#300 leaves no feature selection
random_forest = RandomForestClassifier(max_leaf_nodes=300,n_estimators=100,random_state=42)
random_forest.fit(Xtrain, ytrain).score(Xtrain, ytrain)
train_score = random_forest.score(Xtrain, ytrain)
test_score = random_forest.score(Xtest, ytest)
train_delta_test = train_score - test_score
print('300 leaves ranodm forest')
print('train score:\n',train_score, '\ntest score:\n',test_score, '\ndelta:\n', train_delta_test)

300 leaves ranodm forest
train score:
 0.8887500701892301
test score:
 0.8878480183426138
delta:
 0.0009020518466162919

In [21]:
# 100 leaves no feature selection
random_forest = RandomForestClassifier(max_leaf_nodes=100,n_estimators=100,random_state=42)
random_forest.fit(Xtrain, ytrain).score(Xtrain, ytrain)
train_score = random_forest.score(Xtrain, ytrain)
test_score = random_forest.score(Xtest, ytest)
train_delta_test = train_score - test_score
print('100 leaves random forest')
print('train score:\n',train_score, '\ntest score:\n',test_score, '\ndelta:\n', train_delta_test)

100 leaves random forest
train score:
 0.8886518052669998
test score:
 0.8878152636750737
delta:
 0.0008365415919261432

# faeture selection

In [22]:
# feature selection
main_features = [
    # demographics
    'age',
    'race_Caucasian', 'race_AfricanAmerican', 'race_Hispanic',
    'gender_Male',

    # hospital usage
    'time_in_hospital',
    'number_outpatient', 'number_emergency', 'number_inpatient',

    # treatment intensity
    'num_lab_procedures', 'num_procedures',
    'num_medications', 'number_diagnoses',

    # weight
    'weight_num', 'weight_missing',

    # diagnoses (ICD groups)
    'diag1_Circulatory', 'diag1_Diabetes', 'diag1_Respiratory',
    'diag2_Circulatory', 'diag2_Diabetes',
    'diag3_Circulatory',

    # diabetes tests
    'max_glu_measured', 'max_glu_high',
    'a1c_measured', 'a1c_high',

    # medications
    'insulin_used', 'metformin_used',
    'med_changed', 'diabetesMed',

    # admission / discharge
    'admission_Emergency', 'admission_Elective',
    'discharge_Home', 'discharge_Facility','readmitted'
]

selected_df = diabet_df[main_features]

selected_df.head()

,age,race_Caucasian,race_AfricanAmerican,race_Hispanic,gender_Male,time_in_hospital,number_outpatient,number_emergency,number_inpatient,num_lab_procedures,...,a1c_high,insulin_used,metformin_used,med_changed,diabetesMed,admission_Emergency,admission_Elective,discharge_Home,discharge_Facility,readmitted
0,5.0,1.0,0.0,0.0,0.0,1,0,0,0,41,...,0,0,0,0,0,0,0,0,0,0
1,15.0,1.0,0.0,0.0,0.0,3,0,0,0,59,...,0,1,0,1,1,1,0,1,0,0
2,25.0,0.0,1.0,0.0,0.0,2,2,0,1,11,...,0,0,0,0,1,1,0,1,0,0
3,35.0,1.0,0.0,0.0,1.0,2,0,0,0,44,...,0,1,0,1,1,1,0,1,0,0
4,45.0,1.0,0.0,0.0,1.0,1,0,0,0,51,...,0,1,0,1,1,1,0,1,0,0

In [23]:
X_new_train, X_new_test, y_new_train, y_new_test = train_test_split(selected_df.drop('readmitted', axis = 1), diabet_df['readmitted'], test_size = 0.3, random_state = 42)

In [24]:
# 300 leaves with feature selection
random_forest = RandomForestClassifier(max_leaf_nodes=300,n_estimators=100,random_state=42)
random_forest.fit(X_new_train, y_new_train).score(X_new_train, y_new_train)
train_score = random_forest.score(X_new_train, y_new_train)
test_score = random_forest.score(X_new_test, y_new_test)
train_delta_test = train_score - test_score
print('300 leaves ranodm forest')
print('train score:\n',train_score, '\ntest score:\n',test_score, '\ntrain - test:\n', train_delta_test)

300 leaves ranodm forest
train score:
 0.8892975461845134
test score:
 0.8878480183426138
train - test:
 0.001449527841899556

In [25]:
# 100 leaves with feature selection
random_forest = RandomForestClassifier(max_leaf_nodes=100,n_estimators=100,random_state=42)
random_forest.fit(X_new_train, y_new_train).score(X_new_train, y_new_train)
train_score = random_forest.score(X_new_train, y_new_train)
test_score = random_forest.score(X_new_test, y_new_test)
train_delta_test = train_score - test_score
print('100 leaves ranodm forest')
print('train score:\n',train_score, '\ntest score:\n',test_score, '\ntrain - test:\n', train_delta_test)

100 leaves ranodm forest
train score:
 0.8886658431130328
test score:
 0.8878152636750737
train - test:
 0.0008505794379590759

# XG BOOST

In [26]:
# 300 leaves no feature selection
xg_boost = XGBClassifier(max_leaves=300,n_estimators=100,random_state=42)

xg_boost.fit(Xtrain, ytrain)
train_score = xg_boost.score(Xtrain, ytrain)
test_score = xg_boost.score(Xtest, ytest)
train_delta_test = train_score - test_score
print('300 leaves ')
print('train score:\n',train_score, '\ntest score:\n',test_score, '\ntrain - test:\n', train_delta_test)

300 leaves
train score:
 0.8972289291931046
test score:
 0.8879462823452342
train - test:
 0.00928264684787039

In [27]:
# 100 leaves no feature selection
xg_boost = XGBClassifier(max_leaves=100,n_estimators=100,random_state=42)

xg_boost.fit(Xtrain, ytrain).score(Xtrain, ytrain)   
train_score = xg_boost.score(Xtrain, ytrain)
test_score = xg_boost.score(Xtest, ytest)
train_delta_test = train_score - test_score
print('100 leaves ranodm forest')
print('train score:\n',train_score, '\ntest score:\n',test_score, '\ntrain - test:\n', train_delta_test)

100 leaves ranodm forest
train score:
 0.8972289291931046
test score:
 0.8879462823452342
train - test:
 0.00928264684787039

# selected features

In [28]:
# 100 leaves with feature selection
xg_boost = XGBClassifier(max_leaves=100,n_estimators=100,random_state=42)

xg_boost.fit(X_new_train, y_new_train).score(X_new_train, y_new_train)   
train_score = xg_boost.score(X_new_train, y_new_train)
test_score = xg_boost.score(X_new_test, y_new_test)
train_delta_test = train_score - test_score
print('100 leaves ranodm forest')
print('train score:\n',train_score, '\ntest score:\n',test_score, '\ntrain - test:\n', train_delta_test)

100 leaves ranodm forest
train score:
 0.8960637879723735
test score:
 0.8867998689813298
train - test:
 0.00926391899104373

In [29]:
# 300 leaves with feature selection
xg_boost = XGBClassifier(max_leaves=300,n_estimators=100,random_state=42)

xg_boost.fit(X_new_train, y_new_train).score(X_new_train, y_new_train)   
train_score = xg_boost.score(X_new_train, y_new_train)
test_score = xg_boost.score(X_new_test, y_new_test)
train_delta_test = train_score - test_score
print('300 leaves ranodm forest')
print('train score:\n',train_score, '\ntest score:\n',test_score, '\ntrain - test:\n', train_delta_test)

300 leaves ranodm forest
train score:
 0.8960637879723735
test score:
 0.8867998689813298
train - test:
 0.00926391899104373

اکس جی بوست :

هر درخت خطای درخت قبلی رو اصلاح میکنه

تابع جریمه ل 1 و ال 2 داره

با داده های اسپارس عالی کار میکنه

در کل در این روش به جای اینکه کلی درخت رای بدن ، درخت ها میان پشت سر هم خطای هم رو اصلاح میکنن و هی بهتر میشن و این همون بوستینگ هست