# question 2 | UCI

In [280]:
# import moduls 
import numpy as np
import pandas as pd
# sklearn

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

# import collections
from collections import Counter

بارگذاری دیتاست دیابت و نگه داشتن فرم اصلاح نشده آن در متغییر خط 1

In [281]:
Main_df= pd.read_csv("diabetes+130-us+hospitals+for+years+1999-2008/diabetic_data.csv")
Main_ids_mapping = pd.read_csv("diabetes+130-us+hospitals+for+years+1999-2008/ids_mapping.csv")
diabetic_df = Main_df
ids_mapping = Main_ids_mapping
display(diabetic_df.head())
display(diabetic_df.info())

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

None

# Identifiers columns

دارای کد های شناسایی هستند ولی در تشخیص بیماری کمک نمی کنن

In [282]:
display('len == number of rows',len(Counter(diabetic_df["encounter_id"])))
display('len != number of rows',len(Counter(diabetic_df["patient_nbr"])))

'len == number of rows'

101766

'len != number of rows'

71518

# handel race column

وان هات انکودینگ برای فیچر نژاد ، به علت اینکه نژاد ترتیب عددی نداره

In [283]:
from sklearn.preprocessing import OneHotEncoder
# replace all "?" with "Other"
display(Counter(diabetic_df['race']))
diabetic_df['race'] = diabetic_df['race'].replace('?', 'Other')

# one hot encoding for race
one_hot_encoder = OneHotEncoder(
    # if there was a category that was not in fit process ignore it .
    handle_unknown='ignore',
)
# we should use this structure df[[feature]] to pass a 2d array
encoded = one_hot_encoder.fit_transform(diabetic_df[['race']])
# create a dataframe of encoded feature
encoded_df = pd.DataFrame(
    # encoded is a sparse matrix so we need to convert it to array
    encoded.toarray(),
    # create new names for columns from original name 'race'
    columns=one_hot_encoder.get_feature_names_out(['race']),
    # this will help us to keep the original index and have a easy concat with original df
    index=diabetic_df.index
)

# concat the original df with the encoded df | and drop the race column
diabetic_df = pd.concat([diabetic_df.drop(columns=['race']), encoded_df], axis=1)

# head of the df
display(diabetic_df.head())

Counter({'Caucasian': 76099,
         'AfricanAmerican': 19210,
         '?': 2273,
         'Hispanic': 2037,
         'Other': 1506,
         'Asian': 641})

,encounter_id,patient_nbr,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other
0,2278392,8222157,Female,[0-10),?,6,25,1,1,?,...,No,No,No,No,NO,0.0,0.0,1.0,0.0,0.0
1,149190,55629189,Female,[10-20),?,1,1,7,3,?,...,No,No,Ch,Yes,>30,0.0,0.0,1.0,0.0,0.0
2,64410,86047875,Female,[20-30),?,1,1,7,2,?,...,No,No,No,Yes,NO,1.0,0.0,0.0,0.0,0.0
3,500364,82442376,Male,[30-40),?,1,1,7,2,?,...,No,No,Ch,Yes,NO,0.0,0.0,1.0,0.0,0.0
4,16680,42519267,Male,[40-50),?,1,1,7,1,?,...,No,No,Ch,Yes,NO,0.0,0.0,1.0,0.0,0.0

# handel weight column

مدیریت "؟" و تبدیل بازه های وزنی به میانگین بازه ها

In [284]:
display(Counter(diabetic_df['weight']))
# replace True and False with 1 and 0 for new feature "weight_missing"
diabetic_df['weight_missing'] = (diabetic_df['weight'] == '?').astype(int)

# map the weight feature to mean of ranges
diabetic_df['weight_num'] =diabetic_df['weight'].map({'[75-100)':np.mean([75,100]),'[50-75)':np.mean([50,75]),'[100-125)'\
:np.mean([100,125]),'[125-150)':np.mean([125,150]),'[25-50)':np.mean([25,50]),'[0-25)':np.mean([0,25])\
,'[150-175)':np.mean([150,175]),'[175-200)':np.mean([175,200]),'>200':200})

# when we mapped the weight "?" changed to nan so we can replace it with 0 right now.
diabetic_df['weight_num'] = diabetic_df['weight_num'].fillna(0)

# drop the weight column
diabetic_df.drop(columns=['weight'],inplace=True)

# head of the df
display(diabetic_df.head())

Counter({'?': 98569,
         '[75-100)': 1336,
         '[50-75)': 897,
         '[100-125)': 625,
         '[125-150)': 145,
         '[25-50)': 97,
         '[0-25)': 48,
         '[150-175)': 35,
         '[175-200)': 11,
         '>200': 3})

,encounter_id,patient_nbr,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,...,change,diabetesMed,readmitted,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other,weight_missing,weight_num
0,2278392,8222157,Female,[0-10),6,25,1,1,?,Pediatrics-Endocrinology,...,No,No,NO,0.0,0.0,1.0,0.0,0.0,1,0.0
1,149190,55629189,Female,[10-20),1,1,7,3,?,?,...,Ch,Yes,>30,0.0,0.0,1.0,0.0,0.0,1,0.0
2,64410,86047875,Female,[20-30),1,1,7,2,?,?,...,No,Yes,NO,1.0,0.0,0.0,0.0,0.0,1,0.0
3,500364,82442376,Male,[30-40),1,1,7,2,?,?,...,Ch,Yes,NO,0.0,0.0,1.0,0.0,0.0,1,0.0
4,16680,42519267,Male,[40-50),1,1,7,1,?,?,...,Ch,Yes,NO,0.0,0.0,1.0,0.0,0.0,1,0.0

# handel gender column

نیاز به وان هات انکودینگ داشت چون ذاتا ترتیبی وجود ندارد

In [285]:
# Counter from collection will help us to count the number of each category
display(Counter(diabetic_df['gender']))
# count of Unknown/Invalid was 3 so I will map it to Male or Female
diabetic_df['gender'] = diabetic_df['gender'].map({'Unknown/Invalid':'Male','Female':'Female','Male':'Male'})
print('map all Unknown to Male')
display(Counter(diabetic_df["gender"]))

# one hot encoding
one_hot_encoder = OneHotEncoder(
    handle_unknown='ignore',
)

encoded = one_hot_encoder.fit_transform(diabetic_df[['gender']])
# create a dataframe
encoded_df = pd.DataFrame(
    encoded.toarray(),
    columns=one_hot_encoder.get_feature_names_out(['gender']),
    index=diabetic_df.index
)
# concat the original df with the encoded df
diabetic_df = pd.concat([diabetic_df.drop(columns=['gender']), encoded_df], axis=1)

display(diabetic_df.head())

Counter({'Female': 54708, 'Male': 47055, 'Unknown/Invalid': 3})

map all Unknown to Male

Counter({'Female': 54708, 'Male': 47058})

,encounter_id,patient_nbr,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,...,readmitted,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other,weight_missing,weight_num,gender_Female,gender_Male
0,2278392,8222157,[0-10),6,25,1,1,?,Pediatrics-Endocrinology,41,...,NO,0.0,0.0,1.0,0.0,0.0,1,0.0,1.0,0.0
1,149190,55629189,[10-20),1,1,7,3,?,?,59,...,>30,0.0,0.0,1.0,0.0,0.0,1,0.0,1.0,0.0
2,64410,86047875,[20-30),1,1,7,2,?,?,11,...,NO,1.0,0.0,0.0,0.0,0.0,1,0.0,1.0,0.0
3,500364,82442376,[30-40),1,1,7,2,?,?,44,...,NO,0.0,0.0,1.0,0.0,0.0,1,0.0,0.0,1.0
4,16680,42519267,[40-50),1,1,7,1,?,?,51,...,NO,0.0,0.0,1.0,0.0,0.0,1,0.0,0.0,1.0

# handel age column

تبدیل بازه های عددی سن به میانگین بازه ها ، فیچر سادهای بود چون ناقصی نداشت

In [286]:
display(Counter(diabetic_df['age']))
# map this feature was easy , just mean of ranges was enough
diabetic_df['age'] = diabetic_df['age'].map({'[0-10)':np.mean([0,10]),'[10-20)':np.mean([10,20]),\
                                             '[20-30)':np.mean([20,30]),'[30-40)':np.mean([30,40]),\
                                            '[40-50)':np.mean([40,50]),'[50-60)': np.mean([50,60]),'[60-70)':np.mean([60,70]) ,\
                                             '[70-80)': np.mean([70,80]),'[80-90)':np.mean([80,90]),'[90-100)':np.mean([90,100])})
print('range to mean changed successfully')
display(Counter(diabetic_df["age"]))
display(diabetic_df.head())

Counter({'[70-80)': 26068,
         '[60-70)': 22483,
         '[50-60)': 17256,
         '[80-90)': 17197,
         '[40-50)': 9685,
         '[30-40)': 3775,
         '[90-100)': 2793,
         '[20-30)': 1657,
         '[10-20)': 691,
         '[0-10)': 161})

range to mean changed successfully

Counter({75.0: 26068,
         65.0: 22483,
         55.0: 17256,
         85.0: 17197,
         45.0: 9685,
         35.0: 3775,
         95.0: 2793,
         25.0: 1657,
         15.0: 691,
         5.0: 161})

,encounter_id,patient_nbr,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,...,readmitted,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other,weight_missing,weight_num,gender_Female,gender_Male
0,2278392,8222157,5.0,6,25,1,1,?,Pediatrics-Endocrinology,41,...,NO,0.0,0.0,1.0,0.0,0.0,1,0.0,1.0,0.0
1,149190,55629189,15.0,1,1,7,3,?,?,59,...,>30,0.0,0.0,1.0,0.0,0.0,1,0.0,1.0,0.0
2,64410,86047875,25.0,1,1,7,2,?,?,11,...,NO,1.0,0.0,0.0,0.0,0.0,1,0.0,1.0,0.0
3,500364,82442376,35.0,1,1,7,2,?,?,44,...,NO,0.0,0.0,1.0,0.0,0.0,1,0.0,0.0,1.0
4,16680,42519267,45.0,1,1,7,1,?,?,51,...,NO,0.0,0.0,1.0,0.0,0.0,1,0.0,0.0,1.0

# handel admission type id column

تبدیل آیدی های مربوط به نحوه بستری شدن هست بعضی  از حالات نال بود بعضی ها تعریف نشده بود ، همگی به

other مپ شد به

In [287]:
display(Counter(diabetic_df['admission_type_id']))
# this will help one hot encoder named new features better
admission_map = {
    1: 'Emergency',
    2: 'Urgent',
    3: 'Elective',
    4: 'Newborn',
    5: 'Other',
    6: 'Other',
    7: 'Trauma',
    8: 'Other'
}

# these are not id any more so we call them type
diabetic_df['admission_type'] = diabetic_df['admission_type_id'].map(admission_map)

# one-hot-encoding with pandas get_dummies , no any obj no any fit just transform to new binary features
admission_ohe = pd.get_dummies(diabetic_df['admission_type'], prefix='admission',dtype=int)
# concat the original df with the encoded df and drop the admission_type and id column
diabetic_df = pd.concat([diabetic_df, admission_ohe], axis=1)
diabetic_df.drop(columns=['admission_type_id', 'admission_type'], inplace=True)

display(diabetic_df.head())

Counter({1: 53990, 3: 18869, 2: 18480, 6: 5291, 5: 4785, 8: 320, 7: 21, 4: 10})

,encounter_id,patient_nbr,age,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,...,weight_missing,weight_num,gender_Female,gender_Male,admission_Elective,admission_Emergency,admission_Newborn,admission_Other,admission_Trauma,admission_Urgent
0,2278392,8222157,5.0,25,1,1,?,Pediatrics-Endocrinology,41,0,...,1,0.0,1.0,0.0,0,0,0,1,0,0
1,149190,55629189,15.0,1,7,3,?,?,59,0,...,1,0.0,1.0,0.0,0,1,0,0,0,0
2,64410,86047875,25.0,1,7,2,?,?,11,5,...,1,0.0,1.0,0.0,0,1,0,0,0,0
3,500364,82442376,35.0,1,7,2,?,?,44,1,...,1,0.0,0.0,1.0,0,1,0,0,0,0
4,16680,42519267,45.0,1,7,1,?,?,51,0,...,1,0.0,0.0,1.0,0,1,0,0,0,0

# handel discharge disposition id

وضعیت بیمار در زمان  ترخیص اینجا مشخص میشه نحوه انکود شدن هم مشابه فیچر قبلی با کمک پانداز به روش وان هات انکود شده

In [288]:
# map dictionary 
discharge_map = {
    1: 'Home',
    6: 'Home',
    8: 'Home',

    2: 'Facility',
    3: 'Facility',
    4: 'Facility',

    5: 'Hospice',
    18: 'Hospice',

    7: 'Left_AMA',
    11: 'Expired'
}
# they are group now so we will not call them id any more
diabetic_df['discharge_group'] = diabetic_df['discharge_disposition_id'].map(discharge_map)

# one-hot-encoding with pandas get_dummies
discharge_ohe = pd.get_dummies(
    diabetic_df['discharge_group'],
    prefix='discharge',
    dtype=int
)

# concat the original df with the encoded df and drop the discharge_group and id column
diabetic_df = pd.concat([diabetic_df, discharge_ohe], axis=1)
diabetic_df.drop(columns=['discharge_disposition_id', 'discharge_group'], inplace=True)

display(diabetic_df.head())

,encounter_id,patient_nbr,age,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,...,admission_Emergency,admission_Newborn,admission_Other,admission_Trauma,admission_Urgent,discharge_Expired,discharge_Facility,discharge_Home,discharge_Hospice,discharge_Left_AMA
0,2278392,8222157,5.0,1,1,?,Pediatrics-Endocrinology,41,0,1,...,0,0,1,0,0,0,0,0,0,0
1,149190,55629189,15.0,7,3,?,?,59,0,18,...,1,0,0,0,0,0,0,1,0,0
2,64410,86047875,25.0,7,2,?,?,11,5,13,...,1,0,0,0,0,0,0,1,0,0
3,500364,82442376,35.0,7,2,?,?,44,1,16,...,1,0,0,0,0,0,0,1,0,0
4,16680,42519267,45.0,7,1,?,?,51,0,8,...,1,0,0,0,0,0,0,1,0,0

# handel admission_source_id

نحوه ورود بیمار هست این فیچر ، اورژانسی ، معرفی شده توسط مراکز درمانی یا پزشک ، و فرستاده شده از بیمارستان های دیگه سه حالت مهمه ، بقیشون اونقدر اهمیت نداره و خیلی ستون اضافی خواهیم داشت اگر اضافه بشن

In [289]:
# map dictionary
source_map = {
    7: 'Emergency',

    1: 'Referral',
    2: 'Referral',
    3: 'Referral',

    17: 'Transfer',
    18: 'Transfer',

    4: 'Other',
    5: 'Other',
    6: 'Other',
    8: 'Other',
    9: 'Other',
    10: 'Other',
    22: 'Other'
}
# map the feature to category and call it admission_source not id any more
diabetic_df['admission_source'] = diabetic_df['admission_source_id'].map(source_map)

# one-hot-encoding with pandas get_dummies
source_ohe = pd.get_dummies(
    diabetic_df['admission_source'],
    prefix='source',
    dtype=int
)
# concat the original df with the encoded df and drop the admission_source and id column
diabetic_df = pd.concat([diabetic_df, source_ohe], axis=1)
diabetic_df.drop(columns=['admission_source_id', 'admission_source'], inplace=True)

# head of the df
display(diabetic_df.head())

,encounter_id,patient_nbr,age,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,admission_Urgent,discharge_Expired,discharge_Facility,discharge_Home,discharge_Hospice,discharge_Left_AMA,source_Emergency,source_Other,source_Referral,source_Transfer
0,2278392,8222157,5.0,1,?,Pediatrics-Endocrinology,41,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,149190,55629189,15.0,3,?,?,59,0,18,0,...,0,0,0,1,0,0,1,0,0,0
2,64410,86047875,25.0,2,?,?,11,5,13,2,...,0,0,0,1,0,0,1,0,0,0
3,500364,82442376,35.0,2,?,?,44,1,16,0,...,0,0,0,1,0,0,1,0,0,0
4,16680,42519267,45.0,1,?,?,51,0,8,0,...,0,0,0,1,0,0,1,0,0,0

# handel time_in_hospital column

تعداد روز های بستری بودن و از اون دسته اعدادی هست که ترتیب دارن و نیازی هم به انکود کردن نداره

In [290]:
display(Counter(diabetic_df['time_in_hospital']))
display(diabetic_df.head())

Counter({3: 17756,
         2: 17224,
         1: 14208,
         4: 13924,
         5: 9966,
         6: 7539,
         7: 5859,
         8: 4391,
         9: 3002,
         10: 2342,
         11: 1855,
         12: 1448,
         13: 1210,
         14: 1042})

,encounter_id,patient_nbr,age,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,admission_Urgent,discharge_Expired,discharge_Facility,discharge_Home,discharge_Hospice,discharge_Left_AMA,source_Emergency,source_Other,source_Referral,source_Transfer
0,2278392,8222157,5.0,1,?,Pediatrics-Endocrinology,41,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,149190,55629189,15.0,3,?,?,59,0,18,0,...,0,0,0,1,0,0,1,0,0,0
2,64410,86047875,25.0,2,?,?,11,5,13,2,...,0,0,0,1,0,0,1,0,0,0
3,500364,82442376,35.0,2,?,?,44,1,16,0,...,0,0,0,1,0,0,1,0,0,0
4,16680,42519267,45.0,1,?,?,51,0,8,0,...,0,0,0,1,0,0,1,0,0,0

# handel payer_code column

راجع به شیوه پرداخت ، بیشترش "؟" هست پس تحلیل خاصی هم نمیده فقط زحمت و هزینه داره ، حذف شه بهتره

In [291]:
display(Counter(diabetic_df['payer_code']))
diabetic_df.drop(columns=['payer_code'], inplace=True)

display(diabetic_df.head())

Counter({'?': 40256,
         'MC': 32439,
         'HM': 6274,
         'SP': 5007,
         'BC': 4655,
         'MD': 3532,
         'CP': 2533,
         'UN': 2448,
         'CM': 1937,
         'OG': 1033,
         'PO': 592,
         'DM': 549,
         'CH': 146,
         'WC': 135,
         'OT': 95,
         'MP': 79,
         'SI': 55,
         'FR': 1})

,encounter_id,patient_nbr,age,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,...,admission_Urgent,discharge_Expired,discharge_Facility,discharge_Home,discharge_Hospice,discharge_Left_AMA,source_Emergency,source_Other,source_Referral,source_Transfer
0,2278392,8222157,5.0,1,Pediatrics-Endocrinology,41,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,149190,55629189,15.0,3,?,59,0,18,0,0,...,0,0,0,1,0,0,1,0,0,0
2,64410,86047875,25.0,2,?,11,5,13,2,0,...,0,0,0,1,0,0,1,0,0,0
3,500364,82442376,35.0,2,?,44,1,16,0,0,...,0,0,0,1,0,0,1,0,0,0
4,16680,42519267,45.0,1,?,51,0,8,0,0,...,0,0,0,1,0,0,1,0,0,0

# handel medical_specialty column

بیشتر تخصص ها ثبت نشدن ، پر از تخصص های نادر که یکی دو بار بیشتر نبودن پس کلی ستون الکی میخواد ، از یه طرف باعث میشه مدل از فرایند درمان یادبگیره نه از وضعیت بیمار چون همین الانم سه تا فیچر ادمیشن تایپ و سورس و ... داریم

In [292]:
display(Counter(diabetic_df['medical_specialty']))

diabetic_df.drop(columns=['medical_specialty'], inplace=True)

display(diabetic_df.head())

Counter({'?': 49949,
         'InternalMedicine': 14635,
         'Emergency/Trauma': 7565,
         'Family/GeneralPractice': 7440,
         'Cardiology': 5352,
         'Surgery-General': 3099,
         'Nephrology': 1613,
         'Orthopedics': 1400,
         'Orthopedics-Reconstructive': 1233,
         'Radiologist': 1140,
         'Pulmonology': 871,
         'Psychiatry': 854,
         'Urology': 685,
         'ObstetricsandGynecology': 671,
         'Surgery-Cardiovascular/Thoracic': 652,
         'Gastroenterology': 564,
         'Surgery-Vascular': 533,
         'Surgery-Neuro': 468,
         'PhysicalMedicineandRehabilitation': 391,
         'Oncology': 348,
         'Pediatrics': 254,
         'Hematology/Oncology': 207,
         'Neurology': 203,
         'Pediatrics-Endocrinology': 159,
         'Otolaryngology': 125,
         'Endocrinology': 120,
         'Surgery-Thoracic': 109,
         'Psychology': 101,
         'Podiatry': 100,
         'Surgery-Cardiovascular': 98,
         'Pediatrics-CriticalCare': 87,
         'Hematology': 82,
         'Gynecology': 58,
         'Hospitalist': 57,
         'Radiology': 53,
         'Surgeon': 45,
         'Surgery-Plastic': 41,
         'Osteopath': 39,
         'Ophthalmology': 38,
         'InfectiousDiseases': 37,
         'SurgicalSpecialty': 33,
         'Obsterics&Gynecology-GynecologicOnco': 25,
         'Pediatrics-Pulmonology': 25,
         'Anesthesiology-Pediatric': 19,
         'Obstetrics': 19,
         'Rheumatology': 17,
         'Pathology': 17,
         'Anesthesiology': 12,
         'OutreachServices': 12,
         'Surgery-Colon&Rectal': 11,
         'Surgery-Maxillofacial': 11,
         'PhysicianNotFound': 11,
         'Pediatrics-Neurology': 10,
         'Surgery-Pediatric': 8,
         'Endocrinology-Metabolism': 8,
         'Psychiatry-Child/Adolescent': 7,
         'AllergyandImmunology': 7,
         'Cardiology-Pediatric': 7,
         'DCPTEAM': 6,
         'Pediatrics-Hematology-Oncology': 4,
         'Dentistry': 4,
         'Pediatrics-EmergencyMedicine': 3,
         'Pediatrics-AllergyandImmunology': 3,
         'Resident': 2,
         'Surgery-PlasticwithinHeadandNeck': 1,
         'Pediatrics-InfectiousDiseases': 1,
         'Psychiatry-Addictive': 1,
         'Proctology': 1,
         'Dermatology': 1,
         'SportsMedicine': 1,
         'Speech': 1,
         'Perinatology': 1,
         'Neurophysiology': 1})

,encounter_id,patient_nbr,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,admission_Urgent,discharge_Expired,discharge_Facility,discharge_Home,discharge_Hospice,discharge_Left_AMA,source_Emergency,source_Other,source_Referral,source_Transfer
0,2278392,8222157,5.0,1,41,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,149190,55629189,15.0,3,59,0,18,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2,64410,86047875,25.0,2,11,5,13,2,0,1,...,0,0,0,1,0,0,1,0,0,0
3,500364,82442376,35.0,2,44,1,16,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,16680,42519267,45.0,1,51,0,8,0,0,0,...,0,0,0,1,0,0,1,0,0,0

# handel num_lab_procedures column

برعکس فیچر قبل به خوبی تعداد دفعات اعمال انجام شده برای بیمار رو نشون داده ، افزایششون نشون دهنده وخیم بودن حال بیماره و دارای ترتیب و مقدار هستن پس نباید وان هات بشه  ، در نهایت همین که مطمئن شدیم نال نداره کافیه

In [293]:
print('sum of nulls in num_lab_procedures = ',np.sum(diabetic_df['num_lab_procedures'].isnull()))
print('sum of nulls in num_procedures = ',np.sum(diabetic_df['num_procedures'].isnull()))
print('sum of nulls in num_medications = ',np.sum(diabetic_df['num_medications'].isnull()))
print('sum of nulls in num_outpatient = ',np.sum(diabetic_df['number_outpatient'].isnull()))
print('sum of nulls in num_emergency = ',np.sum(diabetic_df['number_emergency'].isnull()))
print('sum of nulls in num_inpatient = ',np.sum(diabetic_df['number_inpatient'].isnull()))

display(diabetic_df[['num_lab_procedures','num_procedures','num_medications','number_outpatient','number_emergency','number_inpatient']].info())

sum of nulls in num_lab_procedures =  0
sum of nulls in num_procedures =  0
sum of nulls in num_medications =  0
sum of nulls in num_outpatient =  0
sum of nulls in num_emergency =  0
sum of nulls in num_inpatient =  0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   num_lab_procedures  101766 non-null  int64
 1   num_procedures      101766 non-null  int64
 2   num_medications     101766 non-null  int64
 3   number_outpatient   101766 non-null  int64
 4   number_emergency    101766 non-null  int64
 5   number_inpatient    101766 non-null  int64
dtypes: int64(6)
memory usage: 4.7 MB

None

i

# handel diag_1...3

تشخیص هایی که در مراحل مختلف برای بیمار داده شده که شامل کد های پزشکی ، بعضی موارد برای تصادف و ... بودن یا پیش بینی نشده بودن که تبدیل شدن other

بقیه هم که بر اساس تابع تبدیل شدن به کتگوری های واضح تر و بهتر و قابل تفکیک تر ، تو سه ستون جدید و بعد وان هات انکودینگ زدن روی اون سه ستون و حذف شش ستون  اضافی

In [294]:
def icd9_to_group(code):
    # at least if we saw a unkown category we will change it to other
    try:
        # there are different types of ICD9 codes so we need to convert them to string
        code = str(code)
        # V and E are out of our issue
        if code.startswith('V') or code.startswith('E'):
            return 'Other'
        code_num = float(code)
        # we will change a lot of unsense codes to these categories
        if 390 <= code_num <= 459 or code_num == 785:
            return 'Circulatory'
        elif 460 <= code_num <= 519:
            return 'Respiratory'
        elif 520 <= code_num <= 579:
            return 'Digestive'
        elif code_num == 250:
            return 'Diabetes'
        elif 800 <= code_num <= 999:
            return 'Injury'
        elif 710 <= code_num <= 739:
            return 'Musculoskeletal'
        elif 580 <= code_num <= 629:
            return 'Genitourinary'
        elif 140 <= code_num <= 239:
            return 'Neoplasms'
        else:
            return 'Other'
    except:
        return 'Other'

# apply func on diag_1, diag_2, diag_3
for col in ['diag_1', 'diag_2', 'diag_3']:
    # create a new column of func result
    diabetic_df[col + '_group'] = diabetic_df[col].apply(icd9_to_group)
# one hot encoding of diag_1_group, diag_2_group, diag_3_group
diag_ohe = pd.get_dummies(
    diabetic_df[['diag_1_group', 'diag_2_group', 'diag_3_group']],
    prefix=['diag1', 'diag2', 'diag3'],
    dtype=int
)
# concat the original df with the encoded df
diabetic_df = pd.concat([diabetic_df, diag_ohe], axis=1)
# drop all those columns we dont need anymore
diabetic_df.drop(columns=['diag_1','diag_2','diag_3',
                           'diag_1_group','diag_2_group','diag_3_group'],
                 inplace=True)
# display the head
display(diabetic_df.head())

,encounter_id,patient_nbr,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,diag2_Respiratory,diag3_Circulatory,diag3_Diabetes,diag3_Digestive,diag3_Genitourinary,diag3_Injury,diag3_Musculoskeletal,diag3_Neoplasms,diag3_Other,diag3_Respiratory
0,2278392,8222157,5.0,1,41,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,149190,55629189,15.0,3,59,0,18,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,64410,86047875,25.0,2,11,5,13,2,0,1,...,0,0,0,0,0,0,0,0,1,0
3,500364,82442376,35.0,2,44,1,16,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,16680,42519267,45.0,1,51,0,8,0,0,0,...,0,0,1,0,0,0,0,0,0,0

# handel number_diagnoses

اینم نیازی به انکود نداره

In [295]:
print('sum of nulls in number_diagnoses = ',np.sum(diabetic_df['number_diagnoses'].isnull()))
display(diabetic_df[['number_diagnoses']].info())

sum of nulls in number_diagnoses =  0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 1 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   number_diagnoses  101766 non-null  int64
dtypes: int64(1)
memory usage: 795.2 KB

None

# handel max_glu_serum

پر از نن هست و  بهترین کار این بود که ازش یه فیچر باینری استخراج کنیم و یه فیچر  باینری هم از بالا بودنش

In [296]:
display(Counter(diabetic_df['max_glu_serum']))
# a binary feature of measured or not
diabetic_df['max_glu_measured'] = diabetic_df['max_glu_serum'].notna().astype(int)
# a binary feature of high or not
diabetic_df['max_glu_high'] = diabetic_df['max_glu_serum'].isin(['>200', '>300']).astype(int)
# drop the original column
diabetic_df.drop(columns=['max_glu_serum'], inplace=True)

display(diabetic_df.head())

Counter({nan: 96420, 'Norm': 2597, '>200': 1485, '>300': 1264})

,encounter_id,patient_nbr,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,diag3_Diabetes,diag3_Digestive,diag3_Genitourinary,diag3_Injury,diag3_Musculoskeletal,diag3_Neoplasms,diag3_Other,diag3_Respiratory,max_glu_measured,max_glu_high
0,2278392,8222157,5.0,1,41,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,149190,55629189,15.0,3,59,0,18,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,64410,86047875,25.0,2,11,5,13,2,0,1,...,0,0,0,0,0,0,1,0,0,0
3,500364,82442376,35.0,2,44,1,16,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,16680,42519267,45.0,1,51,0,8,0,0,0,...,1,0,0,0,0,0,0,0,0,0

# handel A1C result

In [297]:
display(Counter(diabetic_df['A1Cresult']))
# a binary feature of measured or not
diabetic_df['a1c_measured'] = diabetic_df['A1Cresult'].notna().astype(int)
# a binary feature of high or not
diabetic_df['a1c_high'] = diabetic_df['A1Cresult'].isin(['>7', '>8']).astype(int)
# drop the original column
diabetic_df.drop(columns=['A1Cresult'], inplace=True)


display(diabetic_df.head())

Counter({nan: 84748, '>8': 8216, 'Norm': 4990, '>7': 3812})

,encounter_id,patient_nbr,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,diag3_Genitourinary,diag3_Injury,diag3_Musculoskeletal,diag3_Neoplasms,diag3_Other,diag3_Respiratory,max_glu_measured,max_glu_high,a1c_measured,a1c_high
0,2278392,8222157,5.0,1,41,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,149190,55629189,15.0,3,59,0,18,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,64410,86047875,25.0,2,11,5,13,2,0,1,...,0,0,0,0,1,0,0,0,0,0
3,500364,82442376,35.0,2,44,1,16,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,16680,42519267,45.0,1,51,0,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# handel No / Steady / Up / Down faetures

مصرف شدن یا نشدن دارو ؛ تغییر دوز دارو ، دو حالتی هستن که استخراج کردیم برای هر دارو ، علت اینکه دوز رو در نظر نگرفیتم این بوده که سیگنال پایدار تری داشته باشیم چون دوز متغییر و بیشتر مربوط به تصمیم پزشک

In [298]:
# a list of medication columns
med_cols = [
    'metformin','repaglinide','nateglinide','chlorpropamide',
    'glimepiride','glyburide','acetohexamide','glipizide',
    'tolbutamide','pioglitazone','rosiglitazone','acarbose',
    'miglitol','troglitazone','tolazamide','examide','citoglipton'
]
# this loop check if a medication is used
for col in med_cols:
    diabetic_df[col + '_used'] = (diabetic_df[col] != 'No').astype(int)
# insulin is more important than other medications
diabetic_df['insulin_used'] = (diabetic_df['insulin'] != 'No').astype(int)
# we check if the medication was changed
diabetic_df['med_changed'] = (diabetic_df['change'] == 'Ch').astype(int)
# drop the original medication columns because we extracted the information
diabetic_df.drop(columns=med_cols + ['insulin', 'change'], inplace=True)
# there are not enough samples for these medications
combo_cols = [
    'glyburide-metformin', 'glipizide-metformin',
    'glimepiride-pioglitazone', 'metformin-rosiglitazone',
    'metformin-pioglitazone'
]
# so we drop them
diabetic_df.drop(columns=combo_cols, inplace=True)

display(diabetic_df.filter(like='_used').head())


# encode label (readmitted)
diabetic_df['readmitted'] = (diabetic_df['readmitted'] == '<30').astype(int)
# result
display(diabetic_df['readmitted'].value_counts())

display(diabetic_df.head())

,metformin_used,repaglinide_used,nateglinide_used,chlorpropamide_used,glimepiride_used,glyburide_used,acetohexamide_used,glipizide_used,tolbutamide_used,pioglitazone_used,rosiglitazone_used,acarbose_used,miglitol_used,troglitazone_used,tolazamide_used,examide_used,citoglipton_used,insulin_used
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1

readmitted
0    90409
1    11357
Name: count, dtype: int64

,encounter_id,patient_nbr,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,pioglitazone_used,rosiglitazone_used,acarbose_used,miglitol_used,troglitazone_used,tolazamide_used,examide_used,citoglipton_used,insulin_used,med_changed
0,2278392,8222157,5.0,1,41,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,149190,55629189,15.0,3,59,0,18,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,64410,86047875,25.0,2,11,5,13,2,0,1,...,0,0,0,0,0,0,0,0,0,0
3,500364,82442376,35.0,2,44,1,16,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,16680,42519267,45.0,1,51,0,8,0,0,0,...,0,0,0,0,0,0,0,0,1,1

# handel 'diabetesMed'

این فیچر انکود نشده بود و باعث خطا شده بود پس دوباره برگشتیم انکودش کردیم 
که میگه بیمار دارو دیابت گرفته یا نه

In [299]:
# ---- Fix remaining object column (diabetesMed) ----

print("Before encoding diabetesMed:")
print(Counter(diabetic_df['diabetesMed']))

# binary encoding (Yes / No)
diabetic_df['diabetesMed'] = diabetic_df['diabetesMed'].map({
    'Yes': 1,
    'No': 0
})

print("After encoding diabetesMed:")
print(Counter(diabetic_df['diabetesMed']))

# sanity check: no object columns should remain
obj_cols = diabetic_df.select_dtypes(include='object').columns
print("Remaining object columns:", obj_cols)

Before encoding diabetesMed:
Counter({'Yes': 78363, 'No': 23403})
After encoding diabetesMed:
Counter({1: 78363, 0: 23403})
Remaining object columns: Index([], dtype='object')

# save numerical dataset to CSV  for part 2 of this question

In [300]:
diabetic_df.to_csv('diabetes+130-us+hospitals+for+years+1999-2008/encoded.csv',index=False)